<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-firstname">Name:</label>
                                        <input type="text" class="form-control i-name" id="i-name">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="i-email">Email:</label>
                                            <input type="text" class="form-control i-email" id="i-email">
                                        </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-type">Type:</label>
                                        <select class="i-type form-control">
                                        </select>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-website">website:</label>
                                        <input type="text" class="form-control i-website" id="i-website">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-photo">Photo:</label>
                                         <input class="input-file i-photo" id="i-fileInput" type="file" name="file">
                                         <img id='i-img-upload' style="width: 300px; height: 200px" />
                                    </div>
                                </li>
                            </ul>
                        <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>
        
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    $('.btn-save').click(function(event){
        const id = $(this).attr('id');
        const type = $('.i-type').find(":selected").val();
        const formdata = new FormData();
        const image = $('#i-fileInput') ? $('#i-fileInput')[0].files[0] : null
        formdata.append('image_file', image)
        formdata.append('name', $('.i-name').val())
        formdata.append('type', type)
        formdata.append('website', $('.i-website').val())
        formdata.append('email', $('.i-email').val())
        dsa.postForm('partners', formdata, function(result) {
            if(result.meta.success) {
                window.location = "/partners";
            }
        });
    });

    function readCreateURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#i-img-upload').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#i-fileInput").change(function(){
        readCreateURL(this);
    }); 
</script>