<div class="modal fade" id="modal-detail">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Attendee Details</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="attendee-picture profile-user-img img-responsive img-circle" src="{{ url_for('static', filename='assets/dist/img/avatar5.png') }}" alt="Attendee Profile Picture">
        
                        <h3 class="attendee-name profile-username text-center">___</h3>
        
                        <p class="attendee-email text-muted text-center">___</p>
        
                        <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Registered since</b> <a class="pull-right attendee-registered_at">___</a>
                        </li>
                        <li class="list-group-item">
                            <b>Phone</b> <a class="pull-right attendee-phone-number">___</a>
                        </li>
                        <li class="list-group-item">
                            <b>Points</b> <a class="pull-right attendee-points">___</a>
                        </li>
                        </ul>
        
                        <a href="#" class="btn btn-primary btn-block"><b>Action</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->