FORMAT: 1A
HOST: https://private-909ac-devsummit.apiary-mock.com

# devsummit

Dev summit API blueprints

## User Auth [/auth]

### Register a user [POST /auth/register]

+ Request (application/json)

        {
            "first_name": "andy",
            "last_name": "herman",
            "role": "attendee",
            "username": "andy",
            "email": "shi88.andy@gmail.com",
            "password": "andy123"
        }

+ Response 200 (application/json)

        {
            "message": "user succesfully registered",
            "result": {
               "id": 1,
               "first_name": "andy",
               "last_name": "herman",
               "username": "andy",
               "email": "shi88.andy@gmail.com",
               "created_at": "Wed, 02 Aug 2017 15:18:31 GMT",
               "updated_at": "Wed, 02 Aug 2017 15:18:31 GMT"
            },
            "success": true
        }


### Login a User [POST /auth/login]

+ Request (application/json)

        {
            "username": "andy",
            "password": "andy123"
        }

+ Response 200 (application/json)

    + Body

            {
                "message": "user logged in succesfully",
                "result": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8",
                    "refresh_token": "126991391b52558b"
                },
                "success": true
            }

## User Management [/api/users]

### List of Users [GET]

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes
        + meta (object)
            - count: 10,
            - total: 10
        + data (array[UserResponse]) 


### Get a User [GET /api/users/{user_id}]

+ Parameters
    - user_id: `1` (string, required) - Valid User ID

+ Response 200 (application/json)
    + Attributes
        + meta (object)
            - count: 1,
            - total: 1
        + data (UserResponse) 


### Update a User [PATCH /api/users/{user_id}]
    
+ Parameters
    - user_id : `1` (string, required) - Valid User ID

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (object)
            - attributes (User)

+ Response 200 (application/json)
    + Attributes
        + meta (object)
            - message: 'User succesfully updated'
            - success: true
        + data (UserResponse)



## Attendee [/api/v1/attendees]

Available include: `user`

### Get list of attendee [GET]

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - count: `10` (number)
            - total: `10` (number)
            - message: `Attendees successfully retrieved` (string)
            - success: `true` (boolean)
        + data (array[AttendeeResponse])
        + links (object)
            - first: `https://localhost:5000/api/v1/attendees?page[limit]=10&page[offset]=0` (string, nullable)
            - last: `https://localhost:5000/api/v1/attendees?page[limit]=10&page[offset]=10` (string, nullable)
            - next: `https://localhost:5000/api/v1/attendees?page[limit]=10&page[offset]=10` (string, nullable)
            - prev: `null` (string, nullable)


### Get Attendee by id [GET /api/v1/attendees/{attendee_id}]

+ Parameters 

    - attendee_id: `1` (number, required) - Valid attendee id

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message: `Attendee successfully retrieved` (string)
            - success: `true` (boolean)
        + data (AttendeeResponse)
        + included (UserResponse)

### Edit Attendee by id [PATCH /api/v1/attendees/{attendee_id}]

+ Request (application/json)
    
    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (AttendeeResponse)


+ Parameters
    
    - attendee_id: `1` (number, required) - Valid attendee id

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message: `Attendee data succesfully updated` (string)
            - success: `true` (boolean)
        + data (AttendeeResponse)


## Booth [/api/v1/booths]

Available include: `user`, `stage`

### Get list of booths [GET]

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - count: `10` (number)
            - total: `10` (number)
            - message: `Booths successfully retrieved` (string)
            - success: `true` (boolean)
        + data (array[AttendeeResponse])
        + links (object)
            - first: `https://localhost:5000/api/v1/booths?page[limit]=10&page[offset]=0` (string, nullable)
            - last: `https://localhost:5000/api/v1/booths?page[limit]=10&page[offset]=10` (string, nullable)
            - next: `https://localhost:5000/api/v1/booths?page[limit]=10&page[offset]=10` (string, nullable)
            - prev: `null` (string, nullable)


### Get Booth by id [GET /api/v1/booths/{booth_id}]

+ Parameters

    - booth_id: `1` (number, required) - Valid booth id

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message: `Booth successfully retrieved` (string)
            - success: `true` (boolean)
        + data (BoothResponse)
        + included (UserResponse)

### Edit Booth by id [PATCH /api/v1/booths/{booth_id}]

+ Request (application/json)
    
    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (BoothResponse)


+ Parameters
    
    - booth_id: `1` (number, required) - Valid booth id

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message: `Booth data succesfully updated` (string)
            - success: `true` (boolean)
        + data (BoothResponse)


## Speaker [/api/v1/speakers]

Available include: `user`, `material`

### Get list of speakers [GET]

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - count: `10` (number)
            - total: `10` (number)
            - message: `Speakers successfully retrieved` (string)
            - success: `true` (boolean)
        + data (array[AttendeeResponse])
        + links (object)
            - first: `https://localhost:5000/api/v1/speakers?page[limit]=10&page[offset]=0` (string, nullable)
            - last: `https://localhost:5000/api/v1/speakers?page[limit]=10&page[offset]=10` (string, nullable)
            - next: `https://localhost:5000/api/v1/speakers?page[limit]=10&page[offset]=10` (string, nullable)
            - prev: `null` (string, nullable)


### Get Speaker by id [GET /api/v1/speakers/{speaker_id}]

+ Parameters

    - speaker_id: `1` (number, required) - Valid speaker id

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message: `Speaker successfully retrieved` (string)
            - success: `true` (boolean)
        + data (SpeakerResponse)
        + included (object)
            - (UserResponse)
            - (array[MaterialResponse])

### Edit Speaker by id [PATCH /api/v1/speakers/{speaker_id}]

+ Request (application/json)
    
    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (BoothResponse)


+ Parameters
    
    - speaker_id: `1` (number, required) - Valid speaker id

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message: `Speaker data succesfully updated` (string)
            - success: `true` (boolean)
        + data (SpeakerResponse)


## Tickets [/api/v1/tickets]

### Get list of tickets [GET]

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)
    + Attributes
        + meta (object)
          - count: `10` (number)
          - total: `10` (number)
        + links (object)
          - first: `https://localhost:5000/api/v1/tickets?page[limit]=10&page[offset]=0` (string, nullable)
          - last: `https://localhost:5000/api/v1/tickets?page[limit]=10&page[offset]=10` (string, nullable)
          - next: `https://localhost:5000/api/v1/tickets?page[limit]=10&page[offset]=10` (string, nullable)
          - prev: `null` (string, nullable)
        + data (array[TicketResponse])

### Get ticket filter by id [GET /api/v1/tickets/{id}]

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Parameters

    - id: `1` (number, required) - valid ticket id

+ Response 200 (application/json)
    + Attributes
        + meta (object)
            - message: `Ticket retrieved successfully` (string)
            - success: `true` (boolean)
        + data (TicketResponse)

### Edit ticket filter by id [PATCH /api/v1/tickets/{id}]

+ Request (application/json)
    
    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (object)
            + attributes (Ticket)

+ Parameters
    
    - id: `1` (number, required) - valid ticket id

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message:  `Ticket successfully updated` (string)
            - success: `true` (boolean)
        + data (TicketResponse)

### Post Ticket [POST /api/v1/tickets]

+ Request (application/json)
    
    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (object)
            + attributes (Ticket)

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message:  `Ticket successfully created` (string)
            - success: `true` (boolean)
        + data (TicketResponse)

### Delete ticket [DELETE /api/v1/tickets/{id}]

+ Request (application/json)

    + Headers
    
            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Parameters

    - id: `1` (number, required) - valid ticket id

+ Response 204






## Materials API [/api/v1/materials]


### Get list of speaker materials [GET]

Get list of all materials of: logged in speaker, all speakers, and material of related speaker by passing `?speaker_id=id` parameter

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Response 200 (application/json)
    + Attributes
        + meta (object)
          - count: `10` (number)
          - total: `10` (number)
        + links (object)
          - first: `https://localhost:5000/api/v1/materials?page[limit]=10&page[offset]=0` (string, nullable)
          - last: `https://localhost:5000/api/v1/materials?page[limit]=10&page[offset]=10` (string, nullable)
          - next: `https://localhost:5000/api/v1/materials?page[limit]=10&page[offset]=10` (string, nullable)
          - prev: `null` (string, nullable)
        + data (array[MaterialResponse])

### Get material filter by id [GET /api/v1/materials/{material_id}]

Request to spesific materials

+ Request (application/json)

    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Parameters

    - material_id: `1` (number, required) - valid material id

+ Response 200 (application/json)
    + Attributes
        + meta (object)
            - message: `Material retrieved successfully` (string)
            - success: `true` (boolean)
        + data (MaterialResponse)

### Post Material [POST /api/v1/materials]

Speaker post new materials

+ Request (application/json)
    
    + Headers

            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

    + Attributes
        + data (object)
            + attributes (MaterialResponse)

+ Response 200 (application/json)

    + Attributes
        + meta (object)
            - message:  `Material successfully created` (string)
            - success: `true` (boolean)
        + data (MaterialResponse)

### Delete Material [DELETE /api/v1/materials/{id}]

Speaker may delete his/her materials

+ Request (application/json)

    + Headers
    
            Accept: application/json
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsImlhdCI6MTUwMTY2MjYxNywiZXhwIjoxNTAxNjY4NjE3fQ.eyJpZCI6MX0.9-XppdnTm-FoLgOpR8DIjAAHAr7pkimu-RJL-oma9-8

+ Parameters

    - id: `1` (number, required) - valid material id

+ Response 204











## Data Structures

###  User
- `first_name`: `andy` (string),
- `last_name`: `herman` (string),
- `username`: `andy` (string),
- `email`: `shi88.andy@gmail.com` (string),
- `created_at`: `Wed, 02 Aug 2017 15:18:31 GMT` (string),
- `updated_at`: `Wed, 02 Aug 2017 15:18:31 GMT` (string)

### UserResponse
- type: 'User' (string)
- id: 1 (number)
- attributes (User)            

### Ticket
- ticket_type: `gold` (string)
- price: `10000` (number)
- information: `ticket description` (string)

### TicketResponse
- type: `tickets` (string)
- id: `1` (number)
- attributes (Ticket)
    - `created_at`: `2017-06-23 20:27:16` (string, nullable)
    - `updated_at`: `2017-06-23 20:27:16` (string, nullable)

### Attendee
- feature_code: `123f` (string)
- points: `100` (number)
- summary: `some information about attendee` (string)

### AttendeeResponse
- type: `attendee` (string)
- id: `1` (number)
- attributes (Attendee)
    - `created_at`: `2017-06-23 20:27:16` (string, nullable)
    - `updated_at`: `2017-06-23 20:27:16` (string, nullable)

### Booth
- points: `100` (number)
- summary: `some information about booth` (string)

### BoothResponse
- type: `booth` (string)
- id: `1` (number)
- attributes (Booth)
    - `created_at`: `2017-06-23 20:27:16` (string, nullable)
    - `updated_at`: `2017-06-23 20:27:16` (string, nullable)

### Speaker
- summary: `some information about speaker` (string)

### SpeakerResponse
- type: `speaker` (string)
- id: `1` (number)
- attributes (Speaker)
    - `created_at`: `2017-06-23 20:27:16` (string, nullable)
    - `updated_at`: `2017-06-23 20:27:16` (string, nullable)

### Material
- path: `material/path` (string)

### MaterialResponse
- type: `material` (string)
- id: `1` (number)
- attributes (Material)
    - `created_at`: `2017-06-23 20:27:16` (string, nullable)
    - `updated_at`: `2017-06-23 20:27:16` (string, nullable)