Flask==0.12.2

# Flask extensions
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
alembic==0.9.3

# Linter
flake8==2.4.0

# faker - to generate fake data(used in seeder)
Faker==0.7.18

# google token check
oauth2client==4.1.2

# requests
requests==2.18.3

#handle twitter oauth
oauth2==1.9.0