{% extends "admin/base/index.html" %}

{% block content %}
<div class="row">
        <div class="col-lg-3 col-xs-6">
        <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ overview.users.total }}</h3>
                    <p>Total Users</p>
                    <h3>{{ overview.attendees.count }}</h3>
                    <p>Total Attendee Ticket Purchased</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people-outline"></i>
                </div>
                <a href="/attendees" class="small-box-footer">Users Info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
        <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ overview.booths.new }}</h3>
                    <p>New Booths</p>
                    <h3>{{ overview.booths.total }}</h3>
                    <p>Total Booths</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-flag"></i>
                </div>
                <a href="/booths" class="small-box-footer">Booth Info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ overview.sponsors.new }}</h3>
                    <p>New Sponsors</p>
                    <h3>{{ overview.sponsors.total }}</h3>
                    <p>Total Sponsors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-usd"></i>
                </div>
                <a href="/sponsors" class="small-box-footer">Sponsor Info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <!-- small box -->
            <div class="small-box bg-blue">
                <div class="icon">
                    <i class="ion ion-ios-book"></i>
                    <p>Cashflow</p>
                </div>
                <div class="inner">
                    <h2 style="color:#2BD62B; text-align:right"> + {{ overview.finances.income }}</h2>
                    <h2 style="color:red; text-align:right"> - {{ overview.finances.expense }}</h2>
                    <h2 style="text-align:right"> = {{ overview.finances.balance }}</h2>
                </div>
                <a href="/entrycashlogs" class="small-box-footer">Cashlog Info<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
</div>
{% endblock %}