
{% extends "admin/base/index.html" %}

{% block header_link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/password-form/style.css') }}">
{% endblock %}

{% block content %}
<div class="password-form">
    <form>
        <label for="l_old_password">Old Password</label>
        <input type="password" class="input-password" id="oldpassword" placeholder="Input old password..">

        <label for="l_new_password">New Password</label>
        <input type="password" class="input-password" id="newpassword" placeholder="Input new password..">

        <label for="l_confirm_new_password">Confirm New Password</label>
        <input type="password" class="input-password" id="cnewpassword" placeholder="Confirm your new password..">

        <input type="button" value="Change" class="btn-password-save" id="btn-password-save">
    </form>
</div>
{% endblock %}

{% block footer_link %}
<script>
    /* Confirms new password */
    $('#btn-password-save').click(function(event) {
        event.preventDefault();
        const user = dsa.getUser();
        const oldpassword = $('#oldpassword').val();
        const newpassword = $('#newpassword').val();
        const cnewpassword = $('#cnewpassword').val();

        if(newpassword == cnewpassword) {
            const payloads = {
                'old_password': oldpassword,
                'new_password': newpassword,
                'user': user,
            };

            dsa.request('/auth/me/changepassword', 'PATCH', payloads, function(result) {
                alert(result.meta.message);
            });
        } else {
            alert('Password tidak sama!')
        }

    })

</script>
{% endblock %}