<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password Devsummit.io</title>
    <!-- jQuery 3 -->
    <script src="{{ url_for('static', filename='assets/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/jquery-ui/jquery-ui.js') }}"></script>
    <!-- Devsummit Auth Client -->
    <script src="{{ url_for('static', filename='assets/dist/js/auth.js') }}"></script>
</head>
<body>
    <table>
        <input type="hidden" id="token">
        <tr>
            <td>New Password</td>
            <td><input type="password" name="newpassword" id="newpassword"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="confirmpassword" id="confirmpassword"></td>
        </tr>
        <tr>
            <td><input type="button" value="confirm" id="confirm"></td>
        </tr>
    </table>
</body>
<script>
    $(document).ready(function(){
        const token = getToken(window.location.pathname)
        $('#token').val(token)
    })

    $('#confirm').click(function(){
        token = $('#token').html()
        tokenbaru = token.replace('b%27','')
        payloads = {        
        'new_password': $('#newpassword').val(),
        'confirm_password': $('#confirmpassword').val(),
        'token': $('#token').val()
        }
        console.log(payloads)
        dsa.post('reset_password', payloads, function(result){
            if(result.meta.success){
                alert(result.meta.message)
                window.location.href = 'https://devsummit.io'
            }else{
                alert(result.meta.message)
            }
        })
    })

    function getToken() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < 2; i++) {
            hash = hashes[i].split('=');
        }
        return hash[1];
    }
</script>
</html>