<div class="modal fade" id="modal-detail">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">User Details</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="user-picture profile-user-img img-responsive img-circle" src="{{ url_for('static', filename='assets/dist/img/avatar5.png') }}" alt="user Profile Picture">
        
                        <h3 class="user-name profile-username text-center">___</h3>
        
                        <p class="user-username text-muted text-center">___</p>
        
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Registered since</b> <a class="pull-right user-registered_at">___</a>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <a class="pull-right user-email">___</a>
                            </li>
                            <li class="list-group-item">
                                <b>Social ID</b> <a class="pull-right user-social-id">___</a>
                            </li>
                        </ul>
        
                        <a href="#" class="btn btn-primary btn-block"><b>Action</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->