{% extends "admin/base/index.html" %} {% block title %}
<title> Finance Report </title> {% endblock %} {% set globals={'base_route': 'reportfinance', 'api_route': 'reportfinances'} %} {% block
header_link %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"> {% endblock %} {% block page_header %} {{ super() }}
<h1>
    Finance Report
    <small>List of Report finance</small>

</h1>
{% endblock %} {% block breadcrumb %}
<li class="active">Finance Report</li>
{% endblock %} {% block content %}
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <!-- date-time -->
        <p id="date-time">
            <from action="#" id="date-form">
                From : <input type="text" class="date-from date" />
                To : <input type="text" class="date-to date" />
                <input type="submit" class="btn btn-primary btn-send-date" value="send">
            </from>
        </p>

        <table id="finance-list1" class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>Bank</th>
                    <th>Name</th>
                    <th id="debit">Debit</th>
                    <th id="credit">Credit</th>
                </tr>
            </thead>
            <tbody>
                {% for reportfinance in reportfinances %}
                <tr>
                    <td>
                        <p id="bank">{{ reportfinance['source']['bank']|e }} - {{ reportfinance['source']['account_number']}}</p>
                    </td>
                    <td>
                        <p id="username">{{ reportfinance['source']['alias']|e }}</p>
                    </td>
                    <td id="data-debit">
                        <p id="debit">{{ reportfinance['debit']|e }}</p>
                    </td>
                    <td id="data-credit">
                        <p id="credit">{{ reportfinance['credit']|e }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total debit and credit</th>
                    <th>{{ total['total_debit']}}</th>
                    <th>{{ total['total_credit'] }} </th>
                </tr>
                <tr>
                    <th colspan="3">Total</th>
                    <th>{{ total['total']}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    {% include "admin/base/modal_delete.html" %} {% include "admin/entrycash/entrycash_edit.html" %} {% include "admin/entrycash/entrycash_add.html"
    %} {% endblock %} {% block footer_link %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/moment/moment.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="static/assets/datepicker/css/jquery.timepicker.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/datepicker/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="static/assets/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="static/assets/datepicker/js/jquery.timepicker.js"></script>
    <script type="text/javascript" src="static/assets/datepicker/js/datepair.js"></script>

    <!-- page script -->
    <script>
        $('.btn-entry-delete').click(function (event) {
            $('.modal-title').html('Are you sure want to delete this entry cash?');
            const btd_id = $(this).attr('id');
            const id = btd_id.substring(6, btd_id.length);
            $('.btn-yes').attr("id", id);
        });

        $('.btn-send-date').click(function (event){
            var date_from = $('.date-from').val();
            let date_to = moment($('.date-to').val());
            var date_to_plus = date_to.add(1, 'days').format("YYYY-MM-DD")
            window.location = "entrycashlogsfilter?filter=date&date_from=" + date_from + '&date_to=' + date_to_plus 
        })

        $(function () {
            /* dropdown for filter */
            $('#finance-list1').DataTable({
                dom: 'l<"#add">frtip'
            });
            $('<label/>').text('Filter').appendTo('#add');
            $select = $('<select class="form-control input-sm filter-finance-report" id="finance-report-filter" />').appendTo('#add')
            $('<option/>').val('Source').text('Source').appendTo($select);
            $('<option/>').val('Date').text('Date').appendTo($select);

            const current = (getUrlVars(window.location.pathname))
            if(current){
                $('#finance-report-filter').val('Date')
                const currentDateFrom = getDateFrom(window.location.pathname)
                const currentDateTo = getDateTo(window.location.pathname)
                var date_to = moment(currentDateTo)
                var date_to_subtract = date_to.subtract(1, 'days').format("YYY-MM-DD")
                $('.date-from').val(currentDateFrom)
                $('.date-to').val(date_to_subtract)
            }

            /* when dropdown clicked*/
            $('#finance-report-filter').change(function (e) {
                var selected = $(this).val()
                if (selected == 'Date') {
                    $('#date-time').show()
                } else if (selected == 'Source') {
                    $('#date-time').hide()
                    window.location = "/entrycashlogsfilter"
                }
            })

            var selected = $('#finance-report-filter').val()
            if (selected == 'Source') {
                $('#date-from').hide();
                $('#date-to').hide();
                $('#data-date-from').hide()
                $('#data-date-to').hide()
                $('#date-time').hide()
                $('#total').text()
            } else if (selected == 'Date'){

            }
        })

        function getDateFrom() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < 2; i++) {
                hash = hashes[i].split('=');
            }
            return hash[1];
        }

        function getDateTo() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < 3; i++) {
                hash = hashes[i].split('=');
            }
            return hash[1];
        }

        function getDateTo() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
            }
            return hash[1];
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars[hash[0]];
        }

        // initialize input widgets first
        $('#date-time .date').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true
        });

        // initialize datepair
        var dateTimeElement = document.getElementById('date-time');
        var datepair = new Datepair(dateTimeElement);
    </script>

    {% endblock %}