<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Entry Cash Logs</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <form action="#" id="add-form">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="i-entry-cash-desc">Description:</label>
                                    <input type="text" class="form-control" id="i-entry-cash-desc">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="i-entry-cash-amount">Source:</label>
                                    <select class="form-control" id="i-entry-cash-source-id">
                                        {% for source in sources %}
                                            <option id="source-id-{{ source.id }}" value={{ source.id }}>{{ source.bank }}({{ source.account_number }})|{{ source.alias }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="i-entry-cash-amount">Debit:</label>
                                    <input type="number" class="form-control" id="a-entry-cash-debit" step="0.01">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="i-entry-cash-amount">Credit:</label>
                                    <input type="number" class="form-control" id="a-entry-cash-credit" step="0.01">
                                </div>
                            </li>
                        </ul>
                        <input type="submit" class="btn btn-primary btn-block btn-save" id="-" value="Save">
                    </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    $(document).ready(function () {
      $('#a-entry-cash-credit').val(0);
      $('#a-entry-cash-debit').val(0);

      $('#a-entry-cash-debit').keypress(function(){
          $('#a-entry-cash-credit').val(0)
      })

      $('#a-entry-cash-credit').keypress(function(){
          $('#a-entry-cash-debit').val(0)
      })

        $('#add-form').on('submit', function (e) {
            e.preventDefault();
            var target = $(this);
            var credit = target.find('#a-entry-cash-credit').val();
            var debit = target.find('#a-entry-cash-debit').val();

            if (credit == 0 || credit == null) {
                credit = 0
            } else if (debit == 0 || debit == null) {
                debit = 0
            }

            if (debit == 0 && credit ==0){
                alert("don't send empty value")
            }else{
              payload = {
                  "description": target.find('#i-entry-cash-desc').val(),
                  "debit": debit,
                  "credit": credit,
                  "source_id": target.find('#i-entry-cash-source-id').val()
                };
               dsa.post('{{ globals["api_route"] }}', payload, function (result) {
                  if (result.meta.success) {
                      window.location = '/{{ globals["base_route"] }}';
                  }
              });
        }
    })
  })
</script>
