{% extends "admin/base/index.html" %} {% block title %}
<title> Entry list </title> {% endblock %} {% set globals={'base_route': 'entrycashlogs', 'api_route': 'entrycashlogs'} %} {% block header_link
%}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"> {% endblock %} {% block page_header %} {{ super() }}
<h1>
    Entry Cash Logs
    <small>List of Entry Cash</small>

</h1>
{% endblock %} {% block breadcrumb %}
<li class="active">Entry Cash Logs</li>
{% endblock %} {% block content %}
<div class="box">
    <!-- /.box-header -->
    <a href="#" class="btn btn-primary btn-entry-add" data-toggle="modal" data-target="#modal-add" id="-"><b>Add New</b></a>

    <div class="box-body">
        <table id="data-list1" class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>Description</th>
                    <th>Source Id</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Action</th>                    
                </tr>
            </thead>
            <tbody>
                {% for entry in entrycashlogs %}
                <tr>
                    <td>
                        <a href="" id='atd-{{ entry.id }}' class="entry-description">{{ entry['description']|e }}</a>
                    </td>
                    <td>
                        <a href="" id='atd-{{ entry.id }}' class="entry-amount">{{ entry['source_id']|e }}</a>
                    </td>
                    <td>
                        <a href="" id='atd-{{ entry.id }}' class="entry-amount">{{ "{0:,.2f}".format(entry['debit'])|e }}</a>
                    </td>
                    <td>
                        <a href="" id='atd-{{ entry.id }}' class="entry-amount">{{ "{0:,.2f}".format(entry['credit'])|e }}</a>
                    </td>
                    <td>
                        <button id='entry-{{ entry.id }}' type="button" class="btn btn-sm btn-info btn-entry-edit" data-toggle="modal" data-target="#modal-edit">
                                Edit
                        </button>
                        <button id='entry-{{ entry.id }}' type="button" class="btn btn-sm btn-info btn-entry-delete" data-toggle="modal" data-target="#modal-delete">
                                Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "admin/base/modal_delete.html" %} {% include "admin/entrycash/entrycash_edit.html" %} {% include "admin/entrycash/entrycash_add.html"
    %} {% endblock %} {% block footer_link %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='constants.js') }}"></script>

    <!-- page script -->
    <script>
        $('.btn-entry-edit').click(function (event) {

            const bte_id = $(this).attr('id');
            const id = bte_id.substring(6, bte_id.length);
            const url = `{{ globals["api_route"] }}/${id}`;

            let select = $('#entry-cash-flow');
            select.find('option').remove()
            CASH_FLOWS.map(function (item) {
                let option = document.createElement('option');
                option.innerHTML = item;
                option.value = item;

                select.append(option);
            });

            dsa.get(url, function (result) {
                // bind result value in to modal-detail page 
                const data = result['data']
                $('#i-entry-cash-desc').val(data['description']);
                $('#i-entry-cash-debit').val(data['debit']);
                $('#i-entry-cash-credit').val(data['credit']);
                $('#i-entry-cash-source-id').val(data['source_id']);
            });
            $('#btn-edit-save').attr("id", id);
        });

        $('.btn-entry-add').click(function (event) {
            $('.modal-title').html('Add New Entry Cash');
            let select = $('#i-entry-cash-flow');
            select.find('option').remove()
            CASH_FLOWS.map(function(cashflow) {
                let option = document.createElement('option');
                option.innerHTML = cashflow;
                option.value = cashflow;

                select.append(option);
            });
        });

        $('.btn-entry-delete').click(function (event) {
            $('.modal-title').html('Are you sure want to delete this entry cash?');

            const btd_id = $(this).attr('id');
            const id = btd_id.substring(6, btd_id.length);
            $('.btn-yes').attr("id", id);
        });

        $(function () {
            $('#data-list1').DataTable();
        });

    </script>

    {% endblock %}