{% extends "admin/base/index.html" %} {% block title %}
<title> Sources </title> {% endblock %} {% set globals={'base_route': 'rundownlist', 'api_route': 'rundownlist'} %} {% block
header_link %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"> {% endblock %} {% block page_header %} {{ super() }}
<h1>
    Sources
    <small>List of Sources</small>
</h1>
{% endblock %} {% block breadcrumb %}
<li class="active">Sources List</li>
{% endblock %} {% block content %}
<div class="box">
    <!-- /.box-header -->
    <a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#modal-add" id="-"><b>Add New</b></a>

    <div class="box-body">
        <table id="partner-list1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>bank</th>
                    <th>Alias</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for source in sources %}
                <tr>
                    <td>
                        {{ source.account_number }}</a>
                    </td>
                    <td>
                        {{ source.bank }}
                    </td>
                    <td>
                        {{ source.alias }}
                    </td>
                    <td>
                        <button id='btd-{{ source.id }}' type="button" class="btn btn-sm btn-info btn-edit" data-toggle="modal" data-target="#modal-edit">
                                Edit
                            </button>
                        <button id='btd-{{ source.id }}' type="button" class="btn btn-sm btn-info btn-delete" data-toggle="modal" data-target="#modal-delete">
                                Delete
                            </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "admin/base/modal_delete.html" %} 
    {% include "admin/rundown/rundown_list_edit.html" %}
    {% include "admin/sources/source_add.html"%} 
    {% endblock %} 
    
    {% block footer_link %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='constants.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/moment/moment.js') }}"></script>


    <!-- page script -->
    <script>
        /* Display Attendee Detail */
        $('.btn-edit').click(function (event) {
            $('.modal-title').html('Edit Rundown');
            const bte_id = $(this).attr('id');
            const id = bte_id.substring(4, bte_id.length);

            dsa.get('rundownlist/' + id, function (result) {
                const data = result['data'];
                var d = new Date(data['time_start'])
                var hours = d.getHours();
                console.log(hours);
                $('.edit-description').val(data['description']);
                $('.edit-date').val(moment(new Date(data['time_start'])).format("YYYY-MM-DD"));
                $('.edit-time-start').val(moment(data['time_start']).format("HH:mm:ss"));
                $('.edit-time-end').val(moment(data['time_end']).format("HH:mm:ss"));
                $('.edit-location').val(data['location']);
                $('.hidden-rundown-id').val(data['id']);
                $('.btn-save').attr("id", `${data['id']}`);
            });
        })

        $('.btn-add').click(function (event) {
            $('.modal-title').html('Add New Source');
        });

        $('.btn-delete').click(function (event) {
            $('.modal-title').html('Are you sure want to delete this account?');
            const btd_id = $(this).attr('id');
            const id = btd_id.substring(4, btd_id.length);
            $('.btn-yes').attr("id", id);
        });

        $(function () {
            $('#partner-list1').DataTable();
        })

    </script>

    {% endblock %}