{% extends "admin/base/index.html" %}

{% block title %} <title> payments list </title>  {% endblock %}

{% block header_link %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block page_header %}
    {{ super() }}
    <h1>
        Payments
        <small>List of payments</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    <li class="active">Payments</li>
{% endblock %}

{% block content %}
    <div class="box">
        <!-- /.box-header -->
        
        <div class="box-body">
            <table id="payment-list1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>OrderID</th>
                    <th>user Name</th>
                    <th>Email</th>
                    <th>Gross Amount</th>
                    <th>PaymentType</th>
                    <th>TransactionID</th>
                    <th>Transaction Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>
                            {{ payment.order_id|e }}
                        </td>
                        <td>
                            <a href="" id='atd-{{ payment.user["id"] }}' class="payments-name">{{ payment.user['last_name'] + ', ' + payment.user['first_name']|e }}</a> 
                        </td>
                        <td>
                            {{ payment.user['email']|e }}
                        </td>
                        <td>
                            {% if payment.payment_type == 'paypal' %}
                                {{ "USD. {:,.2f}".format(payment.gross_amount)|e }}
                            {% else %}
                                {{ "IDR. {:,.2f}".format(payment.gross_amount)|e }}
                            {% endif %}
                        </td>
                        <td>
                            {{ payment.payment_type|e }}
                        </td>
                        <td>
                            {{ payment.transaction_id|e }}
                        </td>
                        <td>
                            {{ payment.transaction_time|e }}
                        </td>
                        <td>
                            <a href="/invoices/{{ payment.order_id }}" id='btd-{{ payment.user["id"]}}' type="button" class="btn btn-sm btn-info btn-detail">
                                Invoice
                            </a>

                                <a href='#' id='btd-{{ payment.order_id}}' type="button" class="btn btn-sm btn-info btn-resend-email">
                                Resend Email
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}

{% block footer_link %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

<!-- page script -->
<script>
    $('.payments-name').click(function(event){
        event.preventDefault();
        const atd_id = $(this).attr('id');
        const id = atd_id.substring(4, atd_id.length);
        $('#btd-'+id).click();
    });

    $('.btn-resend-email').click(function(event){
        event.preventDefault();
        const atd_id = $(this).attr('id');
        const id = atd_id.substring(4, atd_id.length);
        console.log(id, 'dddd')
        payload = {
            'order_id': id
        }
        if (confirm('Resend email? This action will send the email including redeem code and invoice of the choosen order to the user.')) {
            dsa.post('order/resend-email', payload, function(result) {            
                if(result.meta.success) {
                    window.location = '/payments';
                }
            });          
         } else {
            alert('Canceled')
        }
    });
    $(function () {
        $('#payment-list1').DataTable();
    })
</script>
{% endblock %}