<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default title</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <input type="hidden" class="form-control booth-user-id" id="booth-user-id">
                            <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="e-booth-name">Booth name:</label>
                                        <input type="text" class="form-control e-booth-name" id="e-booth-summary">
                                    </div>
                                </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="e-booth-summary">Booth summary:</label>
                                    <input type="text" class="form-control e-booth-summary" id="e-booth-summary">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="e-booth-points">Booth points:</label>
                                    <input type="text" class="form-control e-booth-points" id="e-booth-points">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label for="e-booth-stages">Stages:</label>
                                <select class="e-booth-stages form-control">
                                </select>
                            </li>
                            <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="booth-logo">Logo:</label>
                                         <input class="input-file e-booth-logo" id="e-fileInput" type="file" name="file">
                                         <img id='e-img-upload' style="width: 300px; height: 200px" />
                                    </div>
                                </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block btn-save-booth-edit" id="-"><b>Save</b></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- page script -->
<script>
    /* Booth edit action */
    $('.btn-save-booth-edit').click(function(event){
        const booth_id = $(this).attr('id');
        const formdata = new FormData();
        formdata.append('logo', $('#e-fileInput')[0].files[0])
        formdata.append('name', $('.e-booth-name').val())
        formdata.append('summary', $('.e-booth-summary').val())
        formdata.append('points', $('.e-booth-points').val())
        formdata.append('stage_id', $('.booth-stages').val() > 0 ? parseInt($('.booth-stages').val()) : -1)
        formdata.append('user_id', $('.booth-user-id').val())

        dsa.patchForm('booths/' + booth_id, formdata, function(result) {
            console.log(result, 'result')
            if(result.meta.success) {
                window.location = "/booths";
            }
        });
    })

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#e-img-upload').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#e-fileInput").change(function(){
        readURL(this);
    }); 
</script>