{% extends "admin/base/index.html" %}

{% block title %} <title> Booths list </title> {% endblock %}

{% block header_link %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block page_header %}
    {{ super() }}
    <h1>
        Booths
        <small>List of booths</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    <li class="active">Booths</li>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table id="booth-list1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Owner</th>
                        <th>Email</th>
                        <th>Summary</th>
                        <th>Stage</th>
                        <th>Points</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booth in booths %}
                    <tr>
                        <td>
                            {{ booth.user.first_name.title() }} {{ booth.user.last_name.title() }}
                        </td>
                        <td>
                            {{ booth.user.email }}
                        </td>
                        <td>
                            {{ booth.summary }}
                        </td>
                        <td>
                            {% if booth.stage.name %}
                                {{ booth.stage.name.title() }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ booth.points }}
                        </td>
                         <td>
                            <button id='bte-{{ booth.id }}' type="button" class="btn btn-sm btn-info btn-edit" data-toggle="modal" data-target="#modal-edit">
                                Edit
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "admin/booths/booth_edit.html" %}
{% endblock %}

{% block footer_link %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

    <!-- page script -->
    <script>
        /* Display booths edit detail */
        $('.btn-edit').click(function(event) {
            $('.modal-title').html('Edit');
            var selected_stage_id;
            const btd_id = $(this).attr('id');
            const id = btd_id.substring(4, btd_id.length);

            dsa.get('booths/' + id, function(result) {
                // bind result value in to attendee_detail.html 
                const data = result['data'];
                selected_stage_id = data['stage'] ? data['stage'].id : null;
                $('.booth-summary').val(data['summary']);
                $('.booth-points').val(data['points']);
                $('.booth-user-id').val(data['user_id']);
                $('.btn-save-booth-edit').attr("id", id);
            });

            dsa.get('stages', function(result) {
                const stages = result['data'];
                var select = $(".booth-stages");
                select.find('option').remove();

                var withoutStageOpt = document.createElement('option');
                withoutStageOpt.innerHTML = 'Without stage';
                withoutStageOpt.value = 0;
                select.append(withoutStageOpt);

                stages.map(function(response) {
                    if(response.stage_type === 'booth') {
                        // add to select
                        var option = document.createElement('option');
                        option.innerHTML = capitalizeFirstLetter(response.name);
                        option.value = response.id;

                        // if id === current stage id, set as selected
                        if (response.id == selected_stage_id) {
                            option.selected = true;
                        }

                        select.append(option);
                    }
                });
            });
        });

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        $(function () {
            $('#booth-list1').DataTable({
                columnDefs: [{
                    targets: [ -1 ],
                    orderable: false,
                }]
            });
        });
    </script>
{% endblock %}