<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css">
  <script src="https://unpkg.com/mithril/mithril.js"></script>
  <title>Invoice Print</title>
</head>
<body>
  <div id=root>
    <!-- our invoice view will mounted here -->
  </div>
</body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    var root = document.getElementById("root")
    var Invoice = {
      view: function() {
        return m('.invoice cf mw7 center avenir h1', [
                  m('.w-100 pa2 gold bg-navy br3 helvetica tc ttu', "invoice"),
                  m('.invoker h4', [
                    m('.logo', m('img.fr mw5 pv2', {src: "http://farm5.staticflickr.com/4469/37597278882_bed2e2c65b_b.jpg"})),
                    m('.infos fl w-100 w-60-ns pv2 ph2', [
                        m('p.penanggung-jawab lh-solid ttc', "taufan aditya"),
                        m('p.address1 lh-solid pa0', "Eduplex, 3rd floor"),
                        m('p.address2 lh-solid pa0', "Jl. Ir. Juanda No.88, Dago, Bandung")
                      ]),
                  ]),
                  m('.assignee h4', [
                    m('.infos fl w-100 w-50-ns pv0 ph2', [
                      m('h3. ttc', 'Some Company'),
                      m('h4. ttc', 'c/o Some Guy'),
                    ]),
                    m('.invoice-info fr w-100 w-50-ns pv3', [
                      m('.invoice-info-number cf w-100 pa0', [
                        m('label.ttc', 'invoice #'),
                        m('input.fr ttc br2 b--white', {disabled: "true"})  
                      ]),
                      m('.invoice-info-date cf w-100 pa0', [
                        m('label.ttc', 'date'),
                        m('input.fr ttc br2 b--white', {disabled: "true"}),
                      ]),
                      m('.invoice-info-amount cf w-100 pa0', [
                        m('label.ttc br2', 'amount'),
                        m('input.fr ttc br2 b--white', {disabled: "true"}),
                      ])
                    ]),
                  ]),
                  m('.invoice-table w-100', [
                    m('.invoice-table-header dt dt--fixed', [
                      m('.dtc bg-gray white pa2 br1 ba b--near-white', m('.span ttc', 'item')),
                      m('.dtc bg-gray white pa2 br1 ba b--near-white', m('.span ttc', 'description')),
                      m('.dtc bg-gray white pa2 br1 ba b--near-white', m('.span ttc', 'rate')),
                      m('.dtc bg-gray white pa2 br1 ba b--near-white', m('.span ttc', 'quantity')),
                      m('.dtc bg-gray white pa2 br1 ba b--near-white', m('.span ttc', 'price')),
                    ]),
                    m('.invoice-table-header dt dt--fixed', [
                      m('.dtc bg-near-white pa2 br1 ba b--near-white', m('.span ttc', 'item')),
                      m('.dtc bg-near-white pa2 br1 ba b--near-white', m('.span ttc', 'description')),
                      m('.dtc bg-near-white pa2 br1 ba b--near-white', m('.span ttc', 'rate')),
                      m('.dtc bg-near-white pa2 br1 ba b--near-white', m('.span ttc', 'quantity')),
                      m('.dtc bg-near-white pa2 br1 ba b--near-white', m('.span ttc', 'price')),
                    ])
                  ]),
                  m('.invoice-total', [
                    m('.fl w-100 w-50-ns', m('.h1', "")),
                    m('.fl w-100 w-50-ns', [
                      m('.invoice-total-detail fr w-100 pv3', [
                        m('.invoice-info-number cf pa0', [
                          m('label.ttc', 'total'),
                          m('input.fr ttc br2 b--white', {disabled: "true"})  
                        ]),
                        m('.invoice-info-date cf pa0', [
                          m('label.ttc', 'amount paid'),
                          m('input.fr ttc br2 b--white', {disabled: "true"}),
                        ]),
                        m('.invoice-info-amount cf pa0', [
                          m('label.ttc br2', 'amount'),
                          m('input.fr ttc br2 b--white', {disabled: "true"}),
                        ])
                      ])
                    ]),
                  ]),
                  m('.buttons w-100 pa6 ph3', [
                    m('a.f6 dib fr link dim br3 ph4 pv2 mb2 dib black bg-gold', {href:"#"}, "pdf"),
                    m('a.f6 dib fr link dim br3 ph4 pv2 mb2 dib white bg-navy', {href:"#"}, "print")
                  ])
        ])  
      } 
    }
    m.mount(root, Invoice)
  })
</script>