<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/mithril/mithril.js"></script>
  <script src="{{ url_for('static', filename='assets/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/dist/js/auth.js') }}"></script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css">
  <title>Invoice</title>
</head>
<body>
    <div id="root">
      <!-- our invoice view will mounted here -->
    </div>
    <div id="invoice-id" style="display: none">{{ invoice_id }}</div>
</body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    var root = document.getElementById("root")
    var invoiceId = document.getElementById("invoice-id").innerHTML
    var fetchData = {
        "address": "",
        "created_at": "",
        "description": "",
        "order_id": "",
        "total": 0,
        "included": {
          "user": {
            "email": "",
            "first_name": "",  
            "last_name": "",  
          }
        }
      }

    $.ajax({
            url : '/api/v1/orders/'+invoiceId+'/details',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType   : "json",
            headers: {
            Authorization: dsa.acess_token()
            },
            success    : function(result){
                if(!result['data'] || result['expired']) {
                    dsa.clearCredential();
                    window.location.href = '/login';
                } else {
                    onDataLoaded(result)
                }
            }
        })
    var invoiceData
    var Invoice = {
      oncreate: function() {
        if (printState.printed) {
          if (printState.output==='pdf') {
            openPDFGenerator()
          }
          if (printState.output==='print') {
            printDocument()
          }
        }
      },
      view: function() {
        return m('.invoice cf mw8 center avenir', [
                  Printed(),
                  Buttons()
        ])  
      } 
    }
    var Printed = function() {
      return m('.printed mt3', [
        m('.w-100 fw6 f4 f3-ns pa2 white bg-navy br2 helvetica tc ttu', "invoice"),
        m('.invoker h4', [
          m('.logo', m('img.fr mw5 pv2', {src: "http://farm5.staticflickr.com/4469/37597278882_bed2e2c65b_b.jpg"})),
          m('.infos fl w-100 w-60-ns pv3 ph2', [
              m('label.penanggung-jawab db pa1 ttc', "Indonesia Developer Summit"),
              m('label.address1 db pa1', "Eduplex, 3rd floor"),
              m('label.address2 db pa1', "Jl. Ir. Juanda No.88, Dago, Bandung")
            ]),
        ]),
        m('.assignee h4', [
          m('.infos fl w-100 w-50-ns pv0 ph2', [
            m('label.assignee-company db pa1 f2 fw6 ttc', invoiceData['included']['user']['first_name'] + " " +invoiceData['included']['user']['last_name']),
            m('label.assignee-address db pa1 f6 f3-ns black-70', `< ${invoiceData['included']['user']['email']} >`)
          ]),
          m('.invoice-info fr w-100 w-50-ns pv3', [
            m('.invoice-info-number cf w-100 pa0 ph2', [
              m('label.ttc', 'invoice #'),
              m('input.fr w-60 f6 f5-ns black ttc pa1 br2 b--near-white', {disabled: "true", value: invoiceId})  
            ]),
            m('.invoice-info-date cf w-100 pa0 ph2', [
              m('label.ttc', 'date'),
              m('input.fr w-60 f6 f5-ns black  ttc pa1 br2 b--near-white', {disabled: "true", value: invoiceData['created_at']}),
            ])
          ]),
        ]),
        m('.invoice-table w-100 br2', [
          m('.invoice-table-header dt dt--fixed', [
            m('.dtc bg-navy white pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', 'item')),
            m('.dtc bg-navy white pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', 'description')),
            m('.dtc bg-navy white pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', 'rate')),
            m('.dtc bg-navy white pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', 'quantity')),
            m('.dtc bg-navy white pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', 'price')),
          ]),
          invoiceData.data.map((data, index) => {
            var price, sprice, currency
            if (invoiceData.included.payment) {
              price =  invoiceData.included.payment.payment_type === "paypal" ? data.ticket.usd_price : data.ticket.price
              currency = invoiceData.included.payment.payment_type === "paypal" ? "USD ": "IDR "
            } else {
              price = data.ticket.price
              sprice = data.ticket.price.toLocaleString()
              currency = "IDR"
            }
            var qty = data.count
            var subtotal = (qty * price).toLocaleString()
            return m('.invoice-table-header dt dt--fixed', [
              m('.dtc bg-light-silver pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', index+1 + '. ')),
              m('.dtc bg-light-silver pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', data.ticket.ticket_type)),
              m('.dtc bg-light-silver pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', currency+" "+sprice)),
              m('.dtc bg-light-silver pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', qty)),
              m('.dtc bg-light-silver pa2 br2 ba b--near-white', m('.span f3 f5-ns pa0 pa1-ns lh-copy measure-narrow ttc', currency+" "+subtotal)),
            ])  
          })
        ]),
        m('.invoice-total cf', [
          m('.fl w-100 w-50-ns', m('.h1', "")),
          m('.fl w-100 w-50-ns', [
            m('.invoice-total-detail fr w-100 pv3', [
              m('.invoice-info-number cf pa0 ph2', [
                m('label.ttc fw6 f6 f3-ns', 'total'),
                m('input.fr w-60 f6 f3-ns b black tr pa2 ttc br2 b--near-white', {disabled: "true", value: invoiceData['total']})  
              ])
            ])
          ]),
        ]),
        m('.invoice-note cf bg-navy br2 mt2', [
            m('h1.i white f5 tc', "Thank you for your participation!"),
        ])
      ])
    }

    var Buttons = function() {
      if (!printState.printed) {
        return m('.buttons w-100 pa6 ph3', [
                  m('a.btn-email f2 f3-ns dib mr1 fr link dim br3 ph2 pv2 mb2 dib black bg-orange pointer', {onclick: ()=>{sendEmail(invoiceData['included']['email'])}}, "email"),
                  m('a.btn-pdf f2 f3-ns dib mr1 fr link dim br3 ph4 pv2 mb2 dib black bg-gold pointer', {href:"#!/topdf", target: "blank"}, "pdf"),
                  m('a.btn-print f2 f3-ns dib mr1 fr link dim br3 ph4 pv2 mb2 dib white bg-navy pointer', {href:"#!/toprint", target: "blank"}, "print"),
                ])
      }
      return m('div',"")
    }

    var openPDFGenerator =  function() {
      window.location.href = "https://www.sejda.com/html-to-pdf?save-link"
    }
    var printDocument = function() {
      window.print()
    }
    var sendEmail = function(email) {
      window.open(`mailto:${email}?subject=Devsummit Invoice&body=This is the invoice for devsummit partnership, thank you`);
    }
    var onDataLoaded = function(fetchData) {
      const normalizeData = function(data) {
        if(!data) {
          return null
        }
        var normalized = data
        // count total
        var total = 0
        normalized.data.map((order) => {
          if (normalized.included.payment) {
            total = normalized.included.payment.payment_type==="paypal" ? total + order.ticket.usd_price : total + order.ticket.price
          } else {
            total = total + order.ticket.price
          }
        })
        if(normalized.data.length===0) {
          return null
        }
        normalized.total = total
        normalized.email = normalized.included.user.email
        normalized.created_at = normalized.data[0].created_at
        if (normalized.included.payment) {
          normalized.currency = normalized.included.payment.payment_type==="paypal" ? "USD " : "IDR "
        } else {
          normalized.currency = "IDR "
        }
        normalized.total = normalized.currency + normalized.total.toLocaleString()
        return normalized
      }
      invoiceData = normalizeData(fetchData)

      if (!invoiceData) {
        m.mount(document.body, {view: () => m('h3', 'invoice detail information is empty!')})
      } else {
        m.route(document.body, "/print", {
          "/print": ()=>{window.printState = {printed: false}; return Invoice},
          "/topdf": ()=>{window.printState = {output:'pdf', printed: true}; return Invoice},
          "/toprint": ()=>{window.printState = {output:'print', printed: true}; return Invoice},
        })
      }
    }
  })
</script>