<ul class="list-group list-group-unbordered tab2-fields" id="tab-booth-fields">
    <li class="list-group-item">
        <div class="form-group">
            <label for="account-other-fields1">StageID:</label>
            <input type="text" class="form-control account-other-fields" id="booth-stageid">
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-group">
            <label for="account-other-fields2">Points:</label>
            <input type="text" class="form-control account-other-fields" id="booth-points">
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-group">
            <label for="account-other-fields3">Summary:</label>
            <input type="text" class="form-control account-other-fields" id="booth-summary">
        </div>
    </li> 
</ul>