<form action="#" id="booth-form">
    <ul class="list-group list-group-unbordered tab2-fields booth-fields" id="tab-booth-fields">
        <li class="list-group-item">
            <div class="form-group">
                <label for="account-other-fields1">StageID:</label>
                <select class="form-control account-other-fields booth-stage-id" id="booth-stageid">
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label for="account-other-fields2">Points:</label>
                <input type="text" class="form-control account-other-fields booth-points" id="booth-points">
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label for="account-other-fields3">Summary:</label>
                <input type="text" class="form-control account-other-fields booth-summary" id="booth-summary">
            </div>
        </li> 
    </ul>
</form>