<ul class="list-group list-group-unbordered tab2-fields speaker-fields" id="tab-speaker-fields">
    <li class="list-group-item">
        <div class="form-group">
            <label for="account-other-fields1">Job:</label>
            <input type="text" class="form-control account-other-fields" id="speaker-job">
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-group">
            <label for="account-other-fields2">Summary:</label>
            <input type="text" class="form-control account-other-fields" id="speaker-summary">
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-group">
            <label for="account-other-fields3">Information:</label>
            <input type="text" class="form-control account-other-fields" id="speaker-information">
        </div>
    </li> 
</ul>