<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-firstname">Description:</label>
                                        <input type="text" class="form-control i-description" id="i-name">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="i-time-start">Time Start:</label>
                                            <input type="time" class="form-control i-time-start" id="i-time-start">
                                        </div>
                                </li>
                                </li>
                                <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="i-time-end">Time End:</label>
                                            <input type="time" class="form-control i-time-end" id="i-time-end">
                                        </div>
                                </li>
                                </li>                                
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-location">Location:</label>
                                        <input type="text" class="form-control i-location" id="i-location">
                                    </div>
                                </li>                                
                            </ul>
                        <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>
        
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
