{% extends "admin/base/index.html" %}

{% block title %}List Attendees{% endblock %}

{% block page_header %}
    {{ super() }}
    <h1>
        Attendees
        <small>List of registered attendees</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    <li class="active">Attendees</li>
{% endblock %}

{% block content %}
    <div>
        <ul>
            {% for attendee in attendees %}
                <li>{{ attendee.id|e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}