<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-firstname">First Name:</label>
                                        <input type="text" class="form-control i-firstname" id="i-firstname">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="i-lastname">Last Name:</label>
                                            <input type="text" class="form-control i-lastname" id="i-lastname">
                                        </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-email">Email:</label>
                                        <input type="text" class="form-control i-email" id="i-email">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-username">Username:</label>
                                        <input type="text" class="form-control i-username" id="i-username">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="i-role_id">Role:</label>
                                        <input type="text" class="form-control i-role_id" id="i-role_id">
                                    </div>
                                </li>
                            </ul>
                        <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>
        
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    $('.btn-save').click(function(event){
        const payload = {
            "first_name": $('.i-firstname').val(),
            "last_name": $('.i-lastname').val(),
            "email": $('.i-email').val(),
            "username": $('.i-username').val(),
            "role_id": $('.i-role_id').val()
        };
        dsa.post('users', payload, function(result) {
            if(result.meta.success) {
                window.location = "http://localhost:5000/accounts";
            }
        });
    });
</script>