{% extends "admin/base/index.html" %}

{% block title %} <title> Accounts list </title>  {% endblock %}

{% set globals={'base_route': 'stages', 'api_route': 'stages'} %}

{% block header_link %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block page_header %}
    {{ super() }}
    <h1>
        Stages
        <small>List of stages</small>
        
    </h1>
{% endblock %}

{% block breadcrumb %}
    <li class="active">Stages</li>
{% endblock %}

{% block content %}
    <div class="box">
        <!-- /.box-header -->
        <a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#modal-add" id="-"><b>Add New</b></a>
        
        <div class="box-body">
            <table id="data-list1" class="table table-bordered table-striped">
                <thead>
        
                    <tr>
                        <th>Stage Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stage in stages %}
                    <tr>
                        <td>
                            <a href="" id='atd-{{ stage.id }}' class="stages-name">{{ stage['name']|e }}</a> 
                        </td>
                        <td>
                            <button id='btd-{{ stage.id }}' type="button" class="btn btn-sm btn-info btn-edit" data-toggle="modal" data-target="#modal-edit">
                                Edit
                            </button>
                            <button id='btd-{{ stage.id }}' type="button" class="btn btn-sm btn-info btn-delete" data-toggle="modal" data-target="#modal-delete">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "admin/base/modal_delete.html" %}
        {% include "admin/stages/stage_edit.html" %}
        {% include "admin/stages/stage_add.html" %}
{% endblock %}

{% block footer_link %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

<!-- page script -->
<script>
    $('.btn-edit').click(function(event){
        $('.modal-title').html('Edit');

        const btd_id = $(event.target).attr('id');
        const id = btd_id.substring(4, btd_id.length);
        dsa.get('{{ globals["api_route"] }}/' + id, function(result) {
            // bind result value in to modal-detail page 
            const data = result['data'];
            $('.stage-name').val(data['name']);
            $('.stage-type').val(data['stage_type']);
            $('.stage-information').val(data['information']);
           
            $('.btn-edit-save').attr("id", 'e-' + data['id']);
        });
    });

    $('.btn-add').click(function(event){
        $('.modal-title').html('Add New Stage');
    });

    $('.btn-delete').click(function(event){
        $('.modal-title').html('Are you sure want to delete this stage?');

        const btd_id = $(event.target).attr('id');
        const id = btd_id.substring(4, btd_id.length);
        $('.btn-yes').attr("id", 'd-'+ id);
    });
    
    $(function () {
        $('#data-list1').DataTable();
    });
</script>

{% endblock %}