{% extends "admin/base/index.html" %}

{% block title %} <title> Referal code list </title>  {% endblock %}

{% block header_link %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block page_header %}
    {{ super() }}
    <h1>
        Referals
        <small>List of referals</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    <li class="active">Referals</li>
{% endblock %}

{% block content %}
    <div class="box">
        <!-- /.box-header -->

        <div class="box-body">
            <table id="referal-list1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Discount percentage %</th>
                    <th>Referal code</th>
                    <th>Quota</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for referal in referals %}
                    <tr>
                        <td>
                            <a href="#" class="referal_details" id='{{ referal.id }}'>{{ referal.owner.name }}</a>
                        </td>
                        <td>
                            {{ referal.discount_amount * 100 }}
                        </td>
                        <td>
                            {{ referal.referal_code }}
                        </td>
                        <td>
                            {{ referal.quota }}
                        </td>
                         <td>
                            <button id='bte-{{ referal.id }}' type="button" class="btn btn-sm btn-info btn-edit" data-toggle="modal" data-target="#modal-edit">
                                Edit
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <tr>
                <a href="#" class="btn btn-primary btn-block btn-add" data-toggle="modal" data-target="#modal-add" id="-"><b>Add New</b></a>
            </tr>
        </div>
        {% include "admin/referals/referal_edit.html" %}
        {% include "admin/referals/referal_add.html" %}

{% endblock %}

{% block footer_link %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

<!-- page script -->
<script>
    /* Display Attendee Detail */
    $('.btn-edit').click(function(event){
        $('.modal-title').html('Edit');
        const bte_id = $(this).attr('id');
        const id = bte_id.substring(4, bte_id.length);
        dsa.get('referals/' + id, function(result) {
            // bind result value in to attendee_detail.html
            const data = result['data'];
            $('.e-referal-code').val(data.referal_code);
            $('.e-referal-quota').val(data.quota);
            $('.btn-save').attr("id", data.id);
        });
    });

    $('.btn-add').click(function(event){
        $('.modal-title').html('Add New Referal');

        const btn_id = $(this).attr('id');
        dsa.get('partners', function(result) {
          // append the result data to dropdown add
          const data = result['data'];

          data.map(function(item) {
            $('.event-types-add').append(`<option value=${item.id}>${item.name}</option>`);
          });
        });
    });

    $('.btn-delete').click(function(event){
        $('.modal-title').html('Delete');

        const btd_id = $(this).attr('id');
        const id = btd_id.substring(4, btd_id.length);
        $('.btn-yes').attr("id", id);
    })
    $(function () {
        $('#referal-list1').DataTable();
    })

</script>

{% endblock %}
