<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="e-referal-discountamount">Discount Percentage %:</label>
                                        <input type="text" class="form-control e-referal-discountamount" id="e-referal-discountamount">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="e-referal-code">Referal code:</label>
                                        <input type="text" class="form-control e-referal-code" id="e-referal-code">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="e-referal-quota">Quota:</label>
                                        <input type="text" class="form-control e-referal-quota" id="e-referal-quota">
                                    </div>
                                </li>
                            </ul>
                        <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>

                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    /* Display Attendee Detail */
    $('.btn-save').click(function(event){
        const id = $(this).attr('id');
        payload = {
            "quota": $('#e-referal-quota').val(),
            "discount_amount": $('#e-referal-discountamount').val() / 100,
            "referal_code": $('#e-referal-code').val()
        };
        dsa.patch('referals/' + id, payload, function(result) {
            if(result.meta.success) {
                window.location = "/referals";
            }
        });
    })
    $(function () {
        $('#referal-list1').DataTable();
    })
</script>
