<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="referal-owner">Owner:</label>
                                        <input type="text" class="form-control add-referal-owner" id="referal-owner">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="referal-discountamount">Discount percentage %:</label>
                                        <input type="text" class="form-control add-referal-discountamount" id="referal-discountamount">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="referal-code">Referal code:</label>
                                        <input type="text" class="form-control add-referal-code" id="referal-code">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label for="referal-quota">Quota:</label>
                                        <input type="text" class="form-control add-referal-quota" id="referal-quota">
                                    </div>
                                </li>
                            </ul>
                        <a href="#" class="btn btn-primary btn-block btn-add" id="-"><b>Save</b></a>
        
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    /* Display Attendee Detail */
    $('.btn-add').click(function(event){
        payload = {
            "owner": $('.add-referal-owner').val(),
            "discount_amount": $('.add-referal-discountamount').val() / 100,
            "referal_code": $('.add-referal-code').val(),
            "quota": $('.add-referal-quota').val()
        };
        dsa.post('referals', payload, function(result) {
            if(result.meta.success) {
                window.location = "/referals";
            }
        });
    })
    $(function () {
        $('#referal-list1').DataTable();
    })
</script>