{% extends "admin/base/index.html" %} {% block title %}
<title> Entry list </title> {% endblock %} {% set globals={'base_route': 'entrycashlogs', 'api_route': 'tickets/transfer/logs'} %} {% block header_link
%}  
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"> {% endblock %} {% block page_header %} {{ super() }}
<h1>
    Ticket Transfer Log
    <small>Ticket Transfer Log</small>

</h1>
{% endblock %} {% block breadcrumb %}
<li class="active">Entry Cash Logs</li>
{% endblock %} {% block content %}
<div class="box">
    <div class="box-body">
        <table id="data-list1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>
                        {{ log.sender.email }}
                    </td>
                    <td>
                        {{ log.receiver.email }}
                    </td>
                    <td>
                        {{ log.created_at }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "admin/base/modal_delete.html" %} {% include "admin/entrycash/entrycash_edit.html" %} {% include "admin/entrycash/entrycash_add.html"
    %} {% endblock %} {% block footer_link %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='assets/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='constants.js') }}"></script>

    <!-- page script -->
    <script>
        $(function () {
            $('#data-list1').DataTable();
        });

    </script>

    {% endblock %}