<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                            <form id="upload-proposal" enctype="multipart/form-data">
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="ticket-type">Ticket type:</label>
                                            <input type="text" class="form-control add-ticket-type" id="ticket-type">
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="ticket-price">Ticket price:</label>
                                            <input type="text" class="form-control add-ticket-price" id="ticket-price">
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="ticket-price">Ticket USD price:</label>
                                            <input type="text" class="form-control add-ticket-usd-price" id="ticket-usd-price">
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="ticket-information">Ticket information:</label>
                                            <input type="text" class="form-control add-ticket-information" id="ticket-information">
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="i-ticket-type">Ticket Type:</label>
                                            <select class="form-control" id="add-type">
                                                    <option id="1" value="user">User</option>
                                                    <option id="2" value="exhibitor">Exhibitor</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="list-group-item proposal">
                                        <div class="form-group">
                                            <label for="i-photo">Proposal Url:</label>
                                            <input class="input-file i-proposal" id="i-proposal" type="file" name="file" accept=".ppt,.pptx,.pdf">
                                        </div>
                                    </li>
                                </ul>
                            <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>
                        </form>
                        </div>
                    <!-- /.box-body -->
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    $(document).ready(function(){
        $('.proposal').hide()
    })

    $('#add-type').change(function(){
        var val = $('#add-type').val();
        if (val === 'exhibitor'){
            $('.proposal').show()
        }else if(val === 'user'){
            $('.proposal').hide()
        }
    })
    /* Display Attendee Detail */
    $('.btn-save').click(function(event){
        var form = $('#upload-proposal')[0];
        const formdata = new FormData(form);
        formdata.append('ticket_type', $('.add-ticket-type').val());
        formdata.append('price', $('.add-ticket-price').val());
        formdata.append('usd_price', $('.add-ticket-usd-price').val());
        formdata.append('information', $('.add-ticket-information').val());
        formdata.append('type', $('#add-type').val());
        formdata.append('proposal_url', $('#i-proposal')[0].files[0])
        dsa.postForm('tickets', formdata, function(result) {
            if(result.meta.success) {
                window.location = "/tickets";
            }
        });
    })
    $(function () {
        $('#attendee-list1').DataTable();
    })
</script>