<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default title</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="ticket-type">Ticket type:</label>
                                    <input type="text" class="form-control ticket-type" id="ticket-type">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="ticket-price">Ticket price:</label>
                                    <input type="text" class="form-control ticket-price" id="ticket-price">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="ticket-information">Ticket information:</label>
                                    <input type="text" class="form-control ticket-information" id="ticket-information">
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    /* Display Attendee Detail */
    $('.btn-save').click(function(event) {
        const id = $(this).attr('id');
        payload = {
            "ticket_type": $('.ticket-type').val(),
            "price": $('.ticket-price').val(),
            "information": $('.ticket-information').val()
        };
        dsa.patch('tickets/' + id, payload, function(result) {
            console.log(result, 'saved');
            if (result.meta.success) {
                window.location = "/tickets";
            }
        });
    })
    $(function() {
        $('#attendee-list1').DataTable();
    })
</script>