<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="e-speaker-job">Speaker job:</label>
                                <input type="text" class="form-control e-speaker-job" id="e-speaker-job">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="e-speaker-summary">Speaker summary:</label>
                                <input type="text" class="form-control e-speaker-summary" id="e-speaker-summary">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="e-speaker-information">Speaker information:</label>
                                <input type="text" class="form-control e-speaker-information" id="e-speaker-information">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="e-speaker-photo">Photo:</label>
                                 <input class="e-input-file e-speaker-photo" id="e-fileInput" type="file" name="file">
                                 <img id='e-img-upload' style="width: 300px; height: 200px" />
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block btn-save" id="-"><b>Save</b></a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- page script -->
<script>
    /* Save edited data */
    $('.btn-save').click(function(event){
        const data = $(this).attr('id').split(' ');
        const formdata = new FormData();

        formdata.append('user_id', data[1])
        formdata.append('job', $('.e-speaker-job').val())
        formdata.append('summary', $('.e-speaker-summary').val())
        formdata.append('information', $('.e-speaker-information').val())
        formdata.append('photo', $('#e-fileInput')[0].files[0])

        dsa.patchForm('speakers/' + data[0], formdata, function(result) {
            if(result.meta.success) {
                window.location = "/speakers";
            }
        });
    })
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#e-img-upload').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#e-fileInput").change(function(){
        readURL(this);
    }); 
</script>