<link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/css/select2.css') }}">
<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default title</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="event-title-add">Event title:</label>
                                    <input type="text" class="form-control event-title-add" id="event-title-add">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="event-information-add">Event information:</label>
                                    <input type="text" class="form-control event-information-add" id="event-information-add">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label for="event-type-add">Event type:</label>
                                <select class="event-types-add form-control">
                                </select>
                            </li>
                            <li class="list-group-item" id="participant-add" style="display: none">
                                <label for="event-participant-add">Speaker:</label> <br />
                                <select class="event-participants-add form-control" id="participant-add-select">
                                </select>
                            </li>
                            <li class="list-group-item" id="speaker-add">
                                <label for="event-speaker-add">Participants:</label> <br />
                                <select class="event-speaker-add form-control" id="speaker-select2" name="user[]" multiple="multiple" style="width:100%">
                                </select>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block btn-events-add" id="-"><b>Save</b></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- page script -->
<script src="{{ url_for('static', filename='assets/dist/js/select2.js') }}"></script>
<script>
    // Data and mapping for select2
    
    dsa.get('users', function(result) {
        var select2_data = transformJSON(result);        
        $('#speaker-select2').select2({
            allowClear: true,
            data: select2_data,
            dropdownParent: $('#modal-add'),
            width: 'resolve',
            // minimumInputLength: 1,
            // placeholder: 'Select the Participants',
            // in case we need to do filtering by querying to the server use this ajax
            // ajax: {
            //     url : 'api/v1/users',
            //     type: 'GET',
            //     contentType: "application/json; charset=utf-8",
            //     dataType   : "json",
            //     headers: {
            //         Authorization: dsa.acess_token()
            //     },
            //     processResults: function(result){
            //         if(result['expired']) {
            //             clearCredential();
            //             window.location.href = '/login';
            //         } else {
            //             return {
            //                 results: $.makeArray($.map(result.data, function(data) {
            //                     return {
            //                         text: data.username,
            //                         id: data.id
            //                     }                                    
            //                 }))
            //             }                         
            //         }
            //     }
            // }                
        });
    })
    
    function transformJSON (obj) {
        const data = obj['data'];
            const arr = [];
            $.map(data, function(item) {
                    arr.push({
                        text: item.username,
                        id: item.id
                    })                                                
            })
        return arr;
        }


    // Change participants based on event type
    $('.event-types-add').on('change', function() {
        if (this.value == 'speaker') {
            $('#participant-add').show();
            $('#speaker-add').hide();
            let participant = $(".event-participants-add");
            participant.find('option').remove();
            dsa.get('speakers', function(result) {
                result.data.map(function(res) {
                    let option = document.createElement('option');

                    option.innerHTML = capitalizeFirstLetter(res.user.first_name) + ' ' + capitalizeFirstLetter(res.user.last_name);
                    option.value = res.user.id;

                    participant.append(option);
                })
            });        
        } else if (this.value == 'discuss panel') {
            $('#participant-add').hide();
            $('#speaker-add').show();
        } else{
            $('#participant-add').hide();
            $('#speaker-add').hide();
        }
    });

    // Used for capitalize words
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    /* Saved event action */
    $('.btn-events-add').click(function(event){
        event_type = $('.event-types-add').val()
        if (event_type !== "speaker" || event_type !== "discuss panel") {
            user_id = null;
        } else if (event_type === 'speaker') {
            let user_id = $('#participant-add-select').val();
        } else{
            let user_id = $('#speaker-select2').val();
        }
        payload = {
            "data": {
                "user_id": user_id,
                "title": $('.event-title-add').val(),
                "information": $('.event-information-add').val(),
                "type": event_type 
            }
        };
        console.log(payload)          

        dsa.post('events', payload, function(result) {
            if(result.meta.success) {
                window.location = "/events";
            }
        });
    });

</script>