<link rel="stylesheet" href="{{ url_for('static', filename='assets/dist/css/select2.css') }}">
<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Default title</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="event-title-add">Event title:</label>
                                    <input type="text" class="form-control event-title-add" id="event-title-add">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label for="event-information-add">Event information:</label>
                                    <input type="text" class="form-control event-information-add" id="event-information-add">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label for="event-type-add">Event type:</label>
                                <select class="event-types-add form-control">
                                </select>
                            </li>
                            <li class="list-group-item" id="participant-add">
                                <label for="event-participant-add">Participants:</label> <br />
                                <select class="event-participants-add form-control" id="participant-select2" name="user[]" multiple="multiple" style="width:98%">
                                </select>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-block btn-events-add" id="-"><b>Save</b></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- page script -->
<script src="{{ url_for('static', filename='assets/dist/js/select2.js') }}"></script>
<script>
    var select2_data;
    dsa.get('users', function(result) {
        this.select2_data = transformJSON(result);        
    })
    
    function transformJSON (obj) {
        const data = obj['data'];
            const arr = [];
            $.map(data, function(item) {
                    arr.push({
                        text: item.username,
                        id: item.id
                    })                                                
            })
        return arr;
        }

    // Change participants based on event type
    $('.event-types-add').on('change', function() {
        if (this.value !== 'speaker') {
            $('#participant-add').hide();
        } else {
            $('#participant-add').show();
            $('#participant-select2').select2({
                allowClear: true,
                data: select2_data,
                dropdownParent: $('#modal-add'),
                width: 'resolve',
                // minimumInputLength: 1,
                // placeholder: 'Select the Participants',
                // in case we need to do filtering by querying to the server use this ajax
                // ajax: {
                //     url : 'api/v1/users',
                //     type: 'GET',
                //     contentType: "application/json; charset=utf-8",
                //     dataType   : "json",
                //     headers: {
                //         Authorization: dsa.acess_token()
                //     },
                //     processResults: function(result){
                //         if(result['expired']) {
                //             clearCredential();
                //             window.location.href = '/login';
                //         } else {
                //             return {
                //                 results: $.makeArray($.map(result.data, function(data) {
                //                     return {
                //                         text: data.username,
                //                         id: data.id
                //                     }                                    
                //                 }))
                //             }                         
                //         }
                //     }
                // }                
            });
        }
    });

    // Used for capitalize words
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    /* Saved event action */
    $('.btn-events-add').click(function(event){
        let user_id_arr = $('#participant-select2').val();

        if ($('.event-types-add').val() !== "speaker") {
            user_id = null;
        }

        payload = {
            "data": {
                "user_id": user_id_arr,
                "title": $('.event-title-add').val(),
                "information": $('.event-information-add').val(),
                "type": $('.event-types-add').val() 
            }          
        };

        dsa.post('events', payload, function(result) {
            if(result.meta.success) {
                window.location = "/events";
            }
        });
    });

</script>