<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default title</h4>
        </div>
        <div class="modal-body">
            <div>
                <p>Are you sure want to delete this event?</p>
            </div>
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <a href="#" class="btn btn-primary btn-block btn-events-yes" id="-"><b>Confirm</b></a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- page script -->
<script>
    /* Delete selected event */
    $('.btn-events-yes').click(function(event) {
        const id = $(this).attr('id');

        dsa.delete('events/' + id, function(result) {
            if(result.meta.success) {
                window.location = "/events";
            }
        });
    })
</script>